{% extends "model/model_template.html" %}
{% load staticfiles %}
{% block css %}
	{{ block.super }}
	<!-- <link rel="stylesheet" href="{% static 'css/apps/model/model.css' %}"> -->
{% endblock %}

{% block model_content %}
	<ul class="am-nav am-nav-pills">
	    <li><a href="{% url 'home' %}">首页</a>
	    </li>
	    <li><a href="{% url 'model_detail' %}">个人资料</a>
	    </li>
	    <li><a href="{% url 'model_album' %}">相册</a>
	    </li>
	    <li><a href="{% url 'model_notice' %}">通知</a>
	    </li>
	    <li class="am-active"><a href="#">关于我们</a>
	    </li>
	</ul>
	<div class="content">
		<ul>
		    <li ng-repeat="i in [1,2,3,4,5,6,7]">
		        <a href="{% url 'article_detail' %}" class="am-panel-group">
		            <div class="am-panel am-panel-default">
		                <div class="am-panel-hd">
		                    <h4 class="am-panel-title">
				        关于我们关于我们<span class="pull-right">2015-01-22</span></h4>
		                </div>
		            </div>
		        </a>
		    </li>
		</ul>

	</div>
	
{% endblock %}

{% block javascript %}

{% endblock %}