{% extends "model/model_template.html" %}
{% load staticfiles %}
{% block css %}
	{{ block.super }}
	<!-- <link rel="stylesheet" href="{% static 'css/apps/model/model.css' %}"> -->
{% endblock %}

{% block model_content %}
	<ul class="am-nav am-nav-pills">
	    <li><a href="{% url 'home' %}">首页</a>
	    </li>
	    <li><a href="{% url 'model_detail' %}">个人资料</a>
	    </li>
	    <li><a href="{% url 'model_album' %}">相册</a>
	    </li>
	    <li><a href="{% url 'model_notice' %}">通知</a>
	    </li>
	    <li><a href="{% url 'about' %}">关于我们</a>
	    </li>
	</ul>
	<div class="content">
		<p class="content-title">文章详情<span class="pull-right">2015-01-22</span></p>
		<div class="content-article">
			<p><span ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">兵兵大流忙</span></p>
		</div>		

	</div>
	
{% endblock %}

{% block javascript %}

{% endblock %}