{% extends "layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/apps/home/home.css' %}">
{% endblock %}

{% block body %}
	<div class="banner">
	  	<div class="am-g">
	    	<div class="am-u-lg-12">
	      		<h1 class="banner-title">清晨来打铁</h1>

	      		<p>
	        		期待你的参与，共同打造一块好铁
	      		</p>

	      		<p>
	        		<a href="#" class="am-btn am-btn-sm banner-btn">获取新get技能√</a>
	      		</p>
	      		<input class="am-form-field am-radius" ng-model="name" placeholder="bingbing">
			    {% verbatim %}
			        <p>Hello {{name || "bingbing"}}!</p>
			    {% endverbatim %}
	    	</div>
	  	</div>
	</div>
	
	<article class="main-container recommend-container am-g am-g-fixed">
		<div class="recommend-line">
			<span>为您推荐</span>
		</div>
		<ul class="index-model" ng-controller="indexPicCtrl">
			<li ng-repeat="model in models" class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
				<div class="recommend-box box-shadow">
					<a href="{% url 'model_detail' %}"><img src="{% verbatim %}{{model.src}}{% endverbatim %}" alt=""></a>
					<div class="describe">
						<p>兵兵最叼毛点我查看详细页面</p>
					</div>
				</div>
			</li>
		</ul>
	</article>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/apps/home/index.js' %}"></script>
{% endblock %}