{% extends "layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="/static/css/apps/home/home.css">
{% endblock %}

{% block body %}
	<article class="recommend-container am-g am-g-fixed">
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
		<section class="am-u-lg-3 am-u-md-4 am-u-md-sm-12">
			<div class="recommend-box"><img src="/static/images/img/a.png" alt=""></div>
		</section>
	</article>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/apps/home/index.js"></script>
{% endblock %}