{% extends "model/model_template.html" %}
{% load staticfiles %}
{% block css %}
	{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/apps/business/business.css' %}">
{% endblock %}
{% block aside %}
	<div class="head-pic am-panel am-panel-default box-shadow">
	    <img src="{% static 'images/img/a.png' %}" alt="头像">
	    <div class="top"><span class="pull-left">No.1527</span><span class="pull-right">5星</span></div>
	    <p class="text-center">wolfbing大公司</p>
	</div>
	<div class="am-panel am-panel-default box-shadow">
	    <div class="am-panel-bd">
	        <p><span class="am-icon-bookmark"></span> 商家简介</p>
	        <p>wo是我扶兵，我是一个商家～``</p>
	    </div>
	</div>
{% endblock %}
{% block model_content %}
	<ul class="am-nav am-nav-pills">
	    <li><a href="{% url 'home' %}">首页</a>
	    </li>
	    <li><a href="{% url 'business_profile' %}">商家资料</a>
	    </li>
	    <li><a ng-hide="user=='model'" href="{% url 'order_manage' %}">订单管理</a>
	    </li>
	    <li class="am-active"><a href="#">我的收藏</a>
	    </li>
	    <li><a href="{% url 'about' %}">关于我们</a>
	    </li>

	</ul>
	<div class="content">
		<p class="content-title">我的收藏</p>
		<div class="content-detail">
			<div class="pic-models clearfix">
				<div ng-repeat="i in [1,2,3,4,5]" class="model box-shadow"><a href="#"><img src="{% static 'images/img/a.png' %}" alt=""></a><i>No.9527</i><a href="#" class="delete">删除</a></div>
			</div>
		</div>
		
	</div>

{% endblock %}

{% block javascript %}
{% endblock %}