ul {
	margin: 0;
	padding: 0;
    li {
        list-style: none;
    }
}
fieldset {
    margin: 0;
    padding: 0;
}
// 清除浮动
.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.text-center {
    text-align: center;
}
.am-row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.recommend-line {
    position: relative;
    padding: 20px 0;
    text-align: center;
    &:before, &:after {
        display: block;
        position: absolute;
        top: 32px;
        width: 44%;
        content: "";
        border-top: 1px solid #ededed;
    }
    &:before {
    	left: 0;
    }
    &:after {
    	right: 0;
    }
}
.main-container {
    max-width: 1248px;
    margin: 20px auto;
}



@media screen and (max-width: 640px) {
    .sm-hidden {
        display: none;
    }
}

//效果
.box-shadow {
    box-shadow: 0 1px 2px #c5c5c5;
    &:hover {
        box-shadow: 0 2px 8px #bbb;
    }
}


[class*=am-u-]+[class*=am-u-]:last-child {
    float: left;
}