{% load staticfiles %}
<!DOCTYPE html>
<html ng-app>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="static/plugins/AmazeUI-2.2.1/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="static/css/layout.css">
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
        <script>
            document.createElement('header');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
            document.createElement('hgroup');
        </script>
        <script type="text/javascript" src="/static/plugins/AmazeUI-2.2.1/assets/js/amazeui.legacy.js"></script>
    <![endif]-->
</head>

<body>
    <input ng-model="name" placeholder="bingbing">
    {% verbatim %}
    <p>Hello {{name || "bingbing"}}!</p>
    {% endverbatim %}
    {% block body %}{% endblock %}
    <!-- JS -->
    <script type="text/javascript" src="/static/plugins/AmazeUI-2.2.1/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/AmazeUI-2.2.1/assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="/static/plugins/angular/1.3.14/angular.min.js"></script>
    {% block javascript %}{% endblock %}
</body>

</html>
