{% extends "model/model_template.html" %}
{% load staticfiles %}
{% block css %}
	{{ block.super }}
    <!-- <link rel="stylesheet" href="{% static 'css/apps/model/model-detail.css' %}"> -->
{% endblock %}

{% block model_content %}
	<ul class="am-nav am-nav-pills">
	    <li><a href="{% url 'home' %}">首页</a>
	    </li>
	    <li class="am-active"><a href="#">个人资料</a>
	    </li>
	    <li><a href="{% url 'model_album' %}">相册</a>
	    </li>
	    <li><a href="{% url 'model_notice' %}">通知</a>
	    </li>
	    <li><a href="{% url 'about' %}">关于我们</a>
	    </li>
	    
	    <li ng-hide="user=='model'" class="pull-right"><a href="#">收藏</a>
	    </li>
	    <li ng-hide="user=='model'" class="pull-right"><a href="#">添加到订单</a>
	    </li>
	</ul>
	<div class="content">
		<p class="content-title">基本资料<a data-am-modal="{target: '#edit-model-popup'}" class="pull-right" href="#">修改</a></p>
		<div class="list">
			<div class="left">姓名：</div>
			<div class="right">wolfbing</div>
			<div class="left">性别：</div>
			<div class="right">女</div>
			<div class="left">年龄：</div>
			<div class="right">24</div>
			<div class="left">兼职类型：</div>
			<div class="right">
				<fieldset disabled>
					<div class="am-form-group">
						<label ng-repeat="model in ['服装模特','车模','礼仪','手模','胸模','足模','其他']" class="am-checkbox-inline">
							<input type="checkbox" checked>
							{% verbatim %}{{model}}{% endverbatim %}
						</label>
					</div>
				</fieldset>
			</div>
			<div class="left">所在地：</div>
			<div class="right">上海浦东</div>
			<div class="left">身高：</div>
			<div class="right">173cm</div>
			<div class="left">体重：</div>
			<div class="right">55kg</div>
			<div class="left">胸围：</div>
			<div class="right">None</div>
			<div class="left">腰围：</div>
			<div class="right">None</div>
			<div class="left">臀围：</div>
			<div class="right">None</div>
			<div class="left">脚尺码：</div>
			<div class="right">37码</div>
		</div>
		<p class="content-title">帐号信息<a data-am-modal="{target: '#changepwd-modal'}" class="pull-right" href="#">修改密码</a></p>
		<div class="list">
			<div class="left">帐号：</div>
			<div class="right">wolfbing@gmail.com</div>
			<div class="left">编号：</div>
			<div class="right">778778767</div>
			<div class="left">电话：</div>
			<div class="right">15651666123</div>
			<div class="left">身份证号：</div>
			<div class="right">320305123456781234</div>
		</div>
	</div>

	<!-- 编辑模特信息 -->
	<div class="am-popup" tabindex="-1" id="edit-model-popup">
	    <div class="am-popup-inner">
	        <div class="am-popup-hd">
	        <h4 class="am-popup-title">编辑模特信息</h4>
	            <span data-am-modal-close class="am-close">&times;</span>
	        </div>
	        <div class="am-popup-bd">
	            <form class="am-form am-form-horizontal">
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">姓名</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="姓名">
				        </div>
				    </div>
					
					<div class="am-form-group">
					    <label for="doc-select-1" class="am-u-sm-3 am-form-label">性别</label>
					    <select id="doc-select-1" class="am-u-sm-4 am-u-end">
					        <option value="option1" selected>男</option>
					        <option value="option2">女</option>
					    </select>
					    <span class="am-form-caret"></span>
					</div>

					<div class="am-form-group">
				        <label for="album-describe" class="am-u-sm-3 am-form-label">个人简介</label>
				        <div class="am-u-sm-9">
				            <textarea id="album-describe" rows="3" placeholder="简介"></textarea>
				        </div>
				    </div>

				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">年龄</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="年龄">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">所在地</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="所在地">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">胸围</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="胸围">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">腰围</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="腰围">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">臀围</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="臀围">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">脚尺码围</label>
				        <div class="am-u-sm-9">
				            <input type="text" id="album-name" placeholder="脚尺码围">
				        </div>
				    </div>
					<div class="am-form-group">
						<div class="am-u-sm-offset-3 am-u-sm-6 am-u-end">
							<button type="button" class="am-u-sm-12 am-btn am-btn-primary">确定</button>
						</div>
						
					</div>
				</form>
	        </div>
	    </div>
	</div>

	<!-- 修改密码 -->
	<div class="am-modal" tabindex="-1" id="changepwd-modal">
	    <div class="am-modal-dialog">
	        <div class="am-modal-hd">修改密码
	            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	        </div>
	        <div class="am-modal-bd">
	            <form class="am-form am-form-horizontal">
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">当前密码</label>
				        <div class="am-u-sm-9">
				            <input type="password" id="album-name" placeholder="请输入当前密码~">
				        </div>
				    </div>

				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">新密码</label>
				        <div class="am-u-sm-9">
				            <input type="password" id="album-name" placeholder="请输入新密码~">
				        </div>
				    </div>
				    <div class="am-form-group">
				        <label for="album-name" class="am-u-sm-3 am-form-label">确认密码</label>
				        <div class="am-u-sm-9">
				            <input type="password" id="album-name" placeholder="请再次输入新密码~">
				        </div>
				    </div>
				</form>
	        </div>
	        <div class="am-modal-footer">
		      	<span class="am-modal-btn">确定</span>
		    </div>
	    </div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}