@import "../../plugins/_css3";
.album .album-word {
    padding: 0 15px;
}
.am-g-collapse {
    padding: 0;
    position: relative;
}
.am-gallery, .album {
    .am-g-collapse {
    	
        .am-dropdown {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            .transition(0.5s);
        }
        &:hover {
    		.am-dropdown {
    			opacity: 1;
    		}
    	}
    	img {
    		width: 100%;
    	}
    }
}